{% extends 'base.html' %}

{% block entete %}
    <h2>{{ session['groupecourant'][0][0] }}</h2>
{% endblock %}

{% block contenu %}
<br>
    <h2>Ajouter une Personne</h2>
    <form method="post">
        <div>
            <label>ID</label>
            <input type="text" name="login">
        </div>
        <div id="submit">
            <input type="submit" value="envoyer">
        </div>
        <div class="textform">
            {% if erreur %}
            <p><span style="color:red">Identifiant introuvable</span></p>
            {% endif %}
        </div>
    </form>
{% endblock %}